<% include ./partials/header %>

<div class="container">
    <div id="form-pd" class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="reset-form" method="POST">
            <div class="card-block">
                <div class="text-center">
                    <h3><i class="fa fa-unlock-alt"></i> Reset:</h3>
                    <hr class="mt-2 mb-2">
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="password" name="password" class="form-control">
                    <label for="password">New Password</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="confirm" name="confirm" class="form-control">
                    <label for="confirm">Confirm password</label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-deep-purple">Reset</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<% include ./partials/footer %>